<IfModule mod_rewrite.c>

    RewriteEngine On
    
    #RewriteBase / #comment if not working

    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)/$ /$1 [L,R] # <- for test, for prod use [L,R=301]
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    

</IfModule>